@charset "utf-8";
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,
section,figure,figcaption,aside,article,header,footer{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"宋体";}
input,a{outline:none;}
.top{
    width: 100%;
    height: 102px;
    font-size: 12px;
    ul{
        float: right;
        li{
            float: left;
            a{
                
            }
        }
    }
}

